
:root{
  --bulb-distance : calc(8% + 130px);

  --cor-salmao: salmon;
  --cor-salmao-claro: #efa78b;
  --cor-salmao-texto: #FFC5AD;
  --cor-lilas: #827aa1;
  --cor-lilas-escuro: #59536E;
  --cor-lilas-texto: #4E4A61;

  --shadow: 3px 6px 5px rgb(150 150 150 / 40%);
}


html, body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

p{
  line-height: 1.3em;
}

ul{
  padding: 1em 0;
}

li{
  line-height: 1.3em;
}

header{
  position: relative;
  width: 100%;
  height: 300px;
  background: var(--cor-salmao-claro); /* #efa78b */
  animation: glow 2s ease-in-out infinite alternate;
  background-image: radial-gradient(circle farthest-corner at var(--bulb-distance) 33%,
    rgba(239,167,139,1) 0%,
    rgba(130,122,161,1) 25%
  );
  background-repeat: no-repeat;
  border-radius: 0 0 60px 0;

}


@-webkit-keyframes glow {
  from {
    background-size: 100%;
    background-position-x: left;
  }

  to {
    background-size: 150%;
    background-position-x: 10%;
  }
}

.bulb{
  position: absolute;
  left: var(--bulb-distance);
  top: 25%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
}

.fa-lightbulb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: var(--cor-salmao);

}



.principal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: calc(300px - 133px);
  left: 8%;
  font-family: 'Quicksand', sans-serif;
  z-index: 10;
  /* max-width: 45%; */
}

@media screen and (max-width: 1140px){
  .principal{
    max-width: 45%;
  }
}

.foto-perfil {

  /* transform: translateX(-50%); */
  width: 250px;
  border-radius: 50%;
  border: 5px solid white;

}

.tit-principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 180px;
  /* background: red; */
}


.tit-principal h1{
  /* position: absolute; */
  bottom: 0;
  font-size: 40px;
  color: white;

}

.h1-container,
.h2-container{
  /* background-color: blue; */
  margin: 10px
}

.tit-principal h2{
  font-size: 35px;
  color: var(--cor-lilas);
}

.city-container{
  overflow: hidden;
  /* background: green; */
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 45%;

  z-index: 0;
  border-radius: 0 0 60px 0;
}

.skyline{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* opacity: 0.6; */
}

nav{
  position: absolute;
  display: flex;
  bottom: 0px;
  right: 10%;
  transform: translateY(100%);
  background: var(--cor-lilas);
  border-radius: 0 0 15px 15px;
  /* width: 100px; */
  height: 30px;
  border-bottom: 1px solid var(--cor-lilas-escuro);
}

.nav-item{
  padding: 5px 10px;
  background: var(--cor-lilas);
  border-radius: 0 0 0 15px;
  border-left: 1px solid var(--cor-lilas-escuro);
  /* border-bottom: 1px solid black; */
  color: var(--cor-salmao-texto);
  font-weight: lighter;
}

.nav-item:last-child{
  border-radius: 0 0 15px 15px;
  border-right: 1px solid var(--cor-lilas-escuro);
}

main {
  width: 70%;
  margin: auto;
  /* background: pink; */
}

.sec-apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: green; */
  padding-top: 170px;
}

.art-ola {
  display: inline-block;
  width: 50%;
  /* background: blue; */
  color: var(--cor-lilas-escuro);
}

.sec-apresentacao h3{
  font-size: 2.5em;
  padding-bottom: 0.2em;
}

.sec-apresentacao p{
  text-align: justify;
  padding-right: 10px;
}

.sec-apresentacao img{
  display: inline-block;
  width: 400px;
  height: 200px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.sec-wid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  background: var(--cor-lilas);
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.list-conhecimentos {
  display: inline-block;
  width: 45%;
  padding: 15px 15px;
  /* background: blue; */
}

.list-conhecimentos ul li{
  display: inline-block;
}

.icon-conhecimento{
  width: 96px;
}

.art-conhecimentos {
  display: inline-block;
  text-align: justify;
  width: 45%;
  padding: 25px 25px;
  color: var(--cor-salmao-texto);
}

.art-conhecimentos  ul {
  list-style-type: circle;
  padding-left: 35px;
}

.sec-projetos {
  width: 100%;
  margin-top: 40px;
  /* background: yellow; */
}
.sec-projetos h3{
  font-size: 30px;
  color: var(--cor-lilas-escuro);
}

.projetos {
  width: 100%;
  /* background: green; */
  margin-top: 40px;

}

.proj-link{
  /* width: 10%;
  height: 500px; */
  /* background: pink; */
  padding: 0 5px;
}

.img-projetos{
  /* width: 45%; */
  width: 100%;
  /* margin: auto; */
  border-radius: 5px;
}

.img-fundo-branco{
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.slick-prev:before {
  color: gray;
}
.slick-next:before {
  color: gray;
}

footer{
  width: 100%;
  height: 200px;
  background: var(--cor-lilas);
  border-radius: 60px 0 0 0;
  margin-top: 60px;
}

.footer-container{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  /* background: green; */
  margin: auto;

}

.contato {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 25px 0 10px 0;
}


.contato a{
  display: inline-block;
  color: var(--cor-salmao-texto);
  font-size: 1.2em;
  padding: 5px 0;
  transition: color 0.3s;
}

.contato a:hover{
  color: var(--cor-lilas-texto)
}

.social{
  display: flex;
  justify-content: center;
  /* background: orange; */
  width: 50%;
  margin: 0 auto;
}

.social a{

}

.social-icon{
  color: var(--cor-lilas-texto);
  font-size: 2em;
  margin: 0.2em;
}
