html, body{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

p{
  line-height: 1.3em;
}

ul{
  padding: 1em 0;
}

li{
  line-height: 1.3em;
}

header{
  position: relative;
  width: 100%;
  height: 300px;
  background: rgb(239,167,139);
  background: radial-gradient(circle farthest-corner at 90% 33%, rgba(239,167,139,1) 0%, rgba(130,122,161,1) 65%);
  border-radius: 0 0 60px 0;
}

.sun{
  position: absolute;
  left: 90%;
  top: 25%;
  transform: translate(-50%);
  width: 50px;
  height: 50px;
  background: salmon;
  border-radius: 50%;
}

.principal{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: calc(300px - 133px);
  left: 8%;
  font-family: 'Quicksand', sans-serif;
}

.foto-perfil {

  /* transform: translateX(-50%); */
  width: 250px;
  border-radius: 50%;
  border: 5px solid white;

}

.tit-principal{

}

.tit-principal h1{
  font-size: 40px;
  padding: 10px;
  color: white;
}

.tit-principal h2{
  font-size: 35px;
  padding: 10px;
  color: rgba(130,122,161,1);
}

main {
  width: 70%;
  margin: auto;
  /* background: pink; */
}

.sec-apresentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: green; */
  padding-top: 170px;
}

.art-ola {
  display: inline-block;
  width: 50%;
  /* background: blue; */
  color: #59536E;
}

.sec-apresentacao h3{
  font-size: 2.5em;
  padding-bottom: 0.2em;
}

.sec-apresentacao p{
  text-align: justify;
}

.sec-apresentacao img{
  display: inline-block;
  width: 400px;
  height: 200px;

}

.sec-wid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  background: #827aa1;
  border-radius: 5px;
}

.list-conhecimentos {
  display: inline-block;
  width: 45%;
  padding: 15px 15px;
  /* background: blue; */
}

.list-conhecimentos ul li{
  display: inline-block;
}

.icon-conhecimento{
  width: 96px;
}

.art-conhecimentos {
  display: inline-block;
  text-align: justify;
  width: 45%;
  padding: 25px 25px;
  color: #FFC5AD;
}

.art-conhecimentos  ul {
  list-style-type: circle;
  padding-left: 35px;
}

.sec-projetos {
  width: 100%;
  margin-top: 40px;
  /* background: yellow; */
}
.sec-projetos h3{
  font-size: 30px;
  color: #59536E;
}

.projetos {
  width: 100%;
  /* background: green; */
  margin-top: 40px;

}

.proj-link{
  /* width: 10%;
  height: 500px; */
  /* background: pink; */
  padding: 0 5px;
}

.img-projetos{
  /* width: 45%; */
  width: 100%;
  /* margin: auto; */
}

.slick-prev:before {
  color: gray;
}
.slick-next:before {
  color: gray;
}

footer{
  width: 100%;
  height: 200px;
  background: #827aa1;
  border-radius: 60px 0 0 0;
  margin-top: 60px;
}

.footer-container{
  width: 70%;
  height: calc(100% - 25px);
  background: green;
  margin: auto;
  padding: 25px 0 0 0;
}

.social {
  /* display: none; */

}
